# 00. Import Libraries:

<b><i>In this line import the principle libraries for work:</i></b>

In [18]:
import pandas as pd
import os
import time
import win32com.client

## 01. List files in directory:

In [19]:
raiz = r'C:\Users\JUAN.MARTINS\Portifolio\Blog\00. How to use Python for facilicite your day'
directory = raiz + '\\' + '00. Bases'

In [20]:
# Read Files all files in directory:
directory_list = os.listdir(directory)

# prints all files
print(f"Files in directories: {directory_list}")

Files in directories: ['10-04-2024.xlsx', '11-04-2024.xlsx', '12-04-2024.xlsx', '13-04-2024.xlsx', '14-04-2024.xlsx']

-<i> The reading directory return all files in directory, but I need only <b> xlsx </b> files </i>. 
<br>
<br>
<i> So in now time I filter so <b>only xlsx files!</b></i>

## 01.1 Filter xlsx files:

In [21]:
# Lista para armazenar arquivos Excel
excel = []

# Listar os arquivos no diretório especificado
files = os.listdir(directory)

# Percorrer os arquivos no diretório
for file in files:
    if file.endswith('.xlsx'):
        # Adiciona o caminho completo do arquivo à lista
        df = pd.read_excel(os.path.join(directory, file))
        excel.append(df)
        print(f"Read the file: {os.path.join(directory, file)}")
        print(df)

Read the file: C:\Users\JUAN.MARTINS\Portifolio\Blog\00. How to use Python for facilicite your day\00. Bases\10-04-2024.xlsx
        Date        Name  Value
0 2024-04-10        Juan      1
1 2024-04-10      Mateus      2
2 2024-04-10       Lucas      3
3 2024-04-10       Jorge      4
4 2024-04-10  Alessandro      5
5 2024-04-10      Renato      6
6 2024-04-10      Marcio      7
7 2024-04-10        Alex      8
8 2024-04-10        Andy      9
9 2024-04-10    Princess     10
Read the file: C:\Users\JUAN.MARTINS\Portifolio\Blog\00. How to use Python for facilicite your day\00. Bases\11-04-2024.xlsx
        Date        Name  Value
0 2024-04-11        Juan     11
1 2024-04-11      Mateus     12
2 2024-04-11       Lucas     13
3 2024-04-11       Jorge     14
4 2024-04-11  Alessandro     15
5 2024-04-11      Renato     16
6 2024-04-11      Marcio     17
7 2024-04-11        Alex     18
8 2024-04-11        Andy     19
9 2024-04-11    Princess     20
Read the file: C:\Users\JUAN.MARTINS\Portifolio\Blog\00. How to use Python for facilicite your day\00. Bases\12-04-2024.xlsx
        Date        Name  Value
0 2024-04-12        Juan     20
1 2024-04-12      Mateus     21
2 2024-04-12       Lucas     22
3 2024-04-12       Jorge     23
4 2024-04-12  Alessandro     24
5 2024-04-12      Renato     25
6 2024-04-12      Marcio     26
7 2024-04-12        Alex     27
8 2024-04-12        Andy     28
9 2024-04-12    Princess     29
Read the file: C:\Users\JUAN.MARTINS\Portifolio\Blog\00. How to use Python for facilicite your day\00. Bases\13-04-2024.xlsx
        Date        Name  Value
0 2024-04-13        Juan     29
1 2024-04-13      Mateus     30
2 2024-04-13       Lucas     31
3 2024-04-13       Jorge     32
4 2024-04-13  Alessandro     33
5 2024-04-13      Renato     34
6 2024-04-13      Marcio     35
7 2024-04-13        Alex     36
8 2024-04-13        Andy     37
9 2024-04-13    Princess     38
Read the file: C:\Users\JUAN.MARTINS\Portifolio\Blog\00. How to use Python for facilicite your day\00. Bases\14-04-2024.xlsx
        Date        Name  Value
0 2024-04-13        Juan     29
1 2024-04-13      Mateus     30
2 2024-04-13       Lucas     31
3 2024-04-13       Jorge     32
4 2024-04-13  Alessandro     33
5 2024-04-13      Renato     34
6 2024-04-13      Marcio     35
7 2024-04-13        Alex     36
8 2024-04-13        Andy     37
9 2024-04-13    Princess     38

## 02. Convert a List to Pandas Dataframe:

In [22]:
# Concatenar os DataFrames em um único DataFrame
base = pd.concat(excel, ignore_index=True)

*<i> Reading the <b>first</b> 5 lines </i>

In [23]:
base.head()

        Date        Name  Value
0 2024-04-10        Juan      1
1 2024-04-10      Mateus      2
2 2024-04-10       Lucas      3
3 2024-04-10       Jorge      4
4 2024-04-10  Alessandro      5

*<i> Reading the <b>last</b> 5 lines </i>

In [24]:
base.tail()

         Date      Name  Value
45 2024-04-13    Renato     34
46 2024-04-13    Marcio     35
47 2024-04-13      Alex     36
48 2024-04-13      Andy     37
49 2024-04-13  Princess     38

## 02.1 Save in Csv:

<i><b>It is important to save in csv because depending on the file size, Excel will exceed the line limit!</b></i>

In [25]:
filesAll = raiz + '\\' + '01. Report' + '\\' + 'All_Files.csv'
base.to_csv(filesAll)

## 03. Open Excel and Refresh Pivot table:

In [27]:
def Refresh_Tbl():
    
    # Contador
    for i in range(10, 0, -1):
        print(f"Waiting... {i} seconds left")
        time.sleep(1)
    
    os.system("taskkill /f /im excel.exe")
    arquivo = r'C:\Users\JUAN.MARTINS\Portifolio\Blog\00. How to use Python for facilicite your day\01. Report\Report.xlsx'

    xl = win32com.client.DispatchEx("Excel.Application")
    wb = xl.workbooks.open(arquivo)

    xl.Visible = True
    wb.RefreshAll()

    wb.Save()
    xl.Quit()

Refresh_Tbl()

Waiting... 10 seconds left
Waiting... 9 seconds left
Waiting... 8 seconds left
Waiting... 7 seconds left
Waiting... 6 seconds left
Waiting... 5 seconds left
Waiting... 4 seconds left
Waiting... 3 seconds left
Waiting... 2 seconds left
Waiting... 1 seconds left